@charset "UTF-8";

/*
400
500
600
700
800

*/ 

@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro.eot');
	src: local('Gotham Pro'), local('GothamPro'),
		url('fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro.woff') format('woff'),
		url('fonts/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro-Medium.eot');
	src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
		url('fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-Medium.woff') format('woff'),
		url('fonts/GothamPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro-Bold.eot');
	src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
		url('fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-Bold.woff') format('woff'),
		url('fonts/GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro-Light.eot');
	src: local('Gotham Pro Light'), local('GothamPro-Light'),
		url('fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-Light.woff') format('woff'),
		url('fonts/GothamPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


// styles

* {
	margin: 0;
	padding: 0;
	line-height: 1;
	box-sizing: border-box;
}
li {
	list-style-type: none;
}

dl, ol, ul {
  margin-bottom: 0;
}

a {
	color: #000;
	text-decoration: none;
}

button {
	outline: none;
	border: none;
	display: block;
	background: transparent;
	cursor: pointer;
	font-family: 'Gotham Pro', sans-serif;
}

input {
	&:focus {
		outline: none;
	}
}

body, html {
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

body {
	color: #0A1500;
	font-size: 16px;
	font-family: 'Gotham Pro', sans-serif;
	font-weight: 300;
	position: relative;
}

h1 {

}

h1, h2, h3,h4, h5, h6 {
	font-weight: 700;
}

h2 {

}

  
  button,
  input {
    font-family: 'Gotham Pro', sans-serif;
    outline: none;
    border: none;
  }
  

// modificators


.fw500 {
	font-weight: 500;
}


.fw700 {
	font-weight: 700;
}  

.btn {
	background: #FED330;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	color: #0A1500;
	border: 1px solid #FED330;
	font-size: 14px;
	line-height: 1;
	padding: 20px 62px;
	transition: all 0.3s;
	flex-shrink: 0;
	font-weight: 400;
	&:hover {
		background: transparent;
		color: #FED330;
	}
}

.btn-black {
	background: #0A1500;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	color: #fff;
	border: 1px solid #0A1500;
	font-size: 14px;
	line-height: 1;
	padding: 20px 62px;
	transition: all 0.3s;
	flex-shrink: 0;
	font-weight: 400;
	&:hover {
		color: #0A1500;
		background: transparent;
	}
}

.btn-bordered {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	line-height: 1;
	padding: 20px 76px;
	transition: all 0.3s;
	flex-shrink: 0;
	display: inline-block;
	border: 1px solid #FFFFFF;
	background: transparent;
	color: #fff;

	svg {
		margin-left: 6px;
		margin-bottom: -3px;
	}

	svg path {
		transition: all 0.3s;
	}

	&:hover {
		background: #fff;
		color: #0A1500;
		svg path {
			fill: #0A1500 !important;
		}
	}
}

.btn-underline {
	font-size: 16px;
	line-height: 1;
	color: #FED330;
	padding-bottom: 5px;
	border-bottom: 1px solid #FED330;
	transition: all 0.3s;
	&:hover {
		transition: all 0.3s;
		border-bottom: 1px solid transparent;
	}
}

.form__desc {
	font-weight: normal;
	font-size: 9px;
	line-height: 125.1%;
	text-align: center;
	color: #FFFFFF;
}

.form-control {
  max-width: 298px;
  margin: auto;
  width: 100%;
  flex-shrink: 0;
	margin-bottom: 25px;
  input {
    background: transparent;
    border: none;
	border: 1px solid #FFFFFF;

    font-family: "Gilroy", sans-serif;
    font-weight: 500;
	font-size: 14px;
    line-height: 13px;
	color: #FFFFFF;
    padding: 19px 29px;
    width: 100%;
  }
}

input ::-webkit-input-placeholder {
  color: #FFFFFF;
}

input ::-moz-placeholder {
  color: #FFFFFF;
}

input :-moz-placeholder {
  color: #FFFFFF;
}

input :-ms-input-placeholder {
  color: #FFFFFF;
}


.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
    width: 100%;
    min-height: 1px;
}


.container {
	max-width: 1310px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}	

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}

	.col-lg-4 {
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
}	

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}

	.col-lg-4 {
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}

  .col-lg-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-lg-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-lg-5 {
		flex: 0 0 41.6665%;
		max-width: 41.6665%;
	}

	.col-lg-7 {
		flex: 0 0 58.3331%;
		max-width: 58.3331%;
	}

  .col-lg-2 {
		flex: 0 0 16.6666%;
		max-width: 16.6666%;
	}

	.col-lg-8 {
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
}	

@media (min-width: 1200px) {
	.container {
		max-width: 1100px;
	}
}	

@media (min-width: 1366px) {
	.container {
		max-width: 1313px;
		// padding: 0 15px;
	}
}	

.container {
	padding: 0 15px;
}


.text-center {
	text-align: center;
}

.section__title {
	text-align: left;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 1;
  color: #000000;
  padding-bottom: 22px;
  position: relative;
  &:before {
	  content: "";
	  display: block;
	  width: 150px;
	  height: 2px;
	  background: #FED330;
	  left: 0;
	  bottom: 0;
	  position: absolute;
  }
}

.section__subtitle {
	text-align: left;
	font-size: 16px;
    line-height: 23px;
}

.mx-auto {
	margin-left: auto!important;
    margin-right: auto!important;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.w-100 {
  width: 100% !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}


.slider__dots-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider__dots .slick-dots {
	display: flex;
}

.slick-dots li button {
    margin: 0 9px;
    font-size: 0px;
	background: #C4C4C4;
	width: 30px;
	height: 3px;
	border-radius: 1px;
}

.slick-dots .slick-active button {
	background: #0A1500;
}

.slider__dots-current {
	padding-right: 5px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

.slider__dots-quantity {
	padding-left: 5px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #C4C4C4;
}

.slider__arrow-prev,
.slider__arrow-next {
	transition: all 0.3s;
	path {
		transition: all 0.3s;
	}
}

.slider__arrow-prev:hover,
.slider__arrow-next:hover {
	transition: all 0.3s;
	path {
		transition: all 0.3s;
		fill-opacity: 1 !important;
	}
}

// arrows position

.services__wrapper {
	position: relative;
}

.slider__arrow-prev {
	position: absolute;
	left: -50px;
	top: 50%;
	transform: translateY(-50%);
}

.slider__arrow-next {
	position: absolute;
	right: -50px;
	top: 50%;
	transform: translateY(-50%);
}

.slick-track,
.slick-slide {
	user-select: none !important;
	outline: none !important;
}


// ==========================================================================================================================================================
// responsive

@media (max-width: 1366px) {

}


@media (max-width: 1200px) {

	.section__title {
		font-size: 48px;
		line-height: 54px;
		padding-bottom: 22px;
	}
    
}


@media (max-width: 991px) {
	.section__title {
		font-size: 32px;
		line-height: 38px;
		padding-bottom: 14px;
	}

	.section__title:before {
		width: 90px;
	}

	.section__subtitle {
		font-size: 16px;
		line-height: 18px;
	}
}



@media (max-width: 767px) {
	.section__title {
		font-size: 22px;
		line-height: 21px;
		padding-bottom: 11px;
	}

	.section__title:before {
		width: 65px;
	}

	.section__subtitle {
		font-size: 14px;
		line-height: 16px;
	}

	body {
		font-weight: 400;
	}
}


@media (max-width: 479px) {

}

@media (max-width: 340px) {


}